USE [master]
GO
/****** Object:  Database [QL_GV_HS_THPT]    Script Date: 21/04/2019 6:15:07 CH ******/
CREATE DATABASE [QL_GV_HS_THPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_GV_HS_THPT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QL_GV_HS_THPT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_GV_HS_THPT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QL_GV_HS_THPT_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_GV_HS_THPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_GV_HS_THPT]
GO
/****** Object:  Table [dbo].[tblGiangday]    Script Date: 21/04/2019 6:15:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGiangday](
	[MaGV] [varchar](10) NOT NULL,
	[MaLop] [varchar](10) NOT NULL,
	[Thu] [int] NOT NULL,
	[Tietday] [int] NOT NULL,
 CONSTRAINT [PK_tblGiangday] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC,
	[Thu] ASC,
	[Tietday] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGiaovien]    Script Date: 21/04/2019 6:15:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGiaovien](
	[MaGV] [varchar](10) NOT NULL,
	[TenGV] [nvarchar](50) NULL,
	[GT] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [varchar](20) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Luong] [int] NULL,
	[MaMon] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblGiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHocSinh]    Script Date: 21/04/2019 6:15:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHocSinh](
	[MaHS] [varchar](50) NOT NULL,
	[TenHS] [nvarchar](50) NOT NULL,
	[GT] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DanToc] [nvarchar](50) NULL,
	[TonGiao] [nvarchar](50) NULL,
	[MaLop] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblHocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLop]    Script Date: 21/04/2019 6:15:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLop](
	[MaLop] [varchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[GVCN] [varchar](10) NULL,
 CONSTRAINT [PK_tblLop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMonhoc]    Script Date: 21/04/2019 6:15:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMonhoc](
	[MaMon] [varchar](10) NOT NULL,
	[TenMon] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblMonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhanquyen]    Script Date: 21/04/2019 6:15:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhanquyen](
	[Quyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblPhanQuyen] PRIMARY KEY CLUSTERED 
(
	[Quyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 21/04/2019 6:15:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[MaGV] [varchar](10) NULL,
	[Quyen] [int] NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblGiangday] ([MaGV], [MaLop], [Thu], [Tietday]) VALUES (N'0001', N'01', 2, 3)
INSERT [dbo].[tblGiangday] ([MaGV], [MaLop], [Thu], [Tietday]) VALUES (N'0001', N'01', 4, 1)
INSERT [dbo].[tblGiangday] ([MaGV], [MaLop], [Thu], [Tietday]) VALUES (N'0001', N'01', 6, 2)
INSERT [dbo].[tblGiaovien] ([MaGV], [TenGV], [GT], [NgaySinh], [SDT], [DiaChi], [Luong], [MaMon]) VALUES (N'0001', N'Phan Văn Nam', N'Nam', CAST(N'1971-01-01' AS Date), N'09987653432', N'Hà Nội', 10000000, N'MH01')
INSERT [dbo].[tblGiaovien] ([MaGV], [TenGV], [GT], [NgaySinh], [SDT], [DiaChi], [Luong], [MaMon]) VALUES (N'0002', N'Nguyễn Thành An', N'Nam', CAST(N'1980-01-02' AS Date), N'09876543213', N'Hà Nội', 12357876, N'MH02')
INSERT [dbo].[tblGiaovien] ([MaGV], [TenGV], [GT], [NgaySinh], [SDT], [DiaChi], [Luong], [MaMon]) VALUES (N'0003', N'Trần Văn Đức', N'Nam', CAST(N'1979-02-02' AS Date), N'09345678345', N'Nam Định', 11000000, N'MH02')
INSERT [dbo].[tblHocSinh] ([MaHS], [TenHS], [GT], [NgaySinh], [DiaChi], [DanToc], [TonGiao], [MaLop]) VALUES (N'HS001', N'Trần Văn Nam', N'Nam', CAST(N'1996-01-01' AS Date), N'Hà Nam', N'Kinh', N'Không', N'01')
INSERT [dbo].[tblHocSinh] ([MaHS], [TenHS], [GT], [NgaySinh], [DiaChi], [DanToc], [TonGiao], [MaLop]) VALUES (N'HS002', N'Nguyễn Thị Vân', N'Nữ', CAST(N'1996-02-02' AS Date), N'Hà Nội', N'Kinh', N'Không', N'01')
INSERT [dbo].[tblHocSinh] ([MaHS], [TenHS], [GT], [NgaySinh], [DiaChi], [DanToc], [TonGiao], [MaLop]) VALUES (N'HS003', N'Đinh Văn Dũng', N'Nam', CAST(N'1996-01-02' AS Date), N'Hà Nội', N'Kinh', N'Có', N'02')
INSERT [dbo].[tblLop] ([MaLop], [TenLop], [GVCN]) VALUES (N'01', N'10A1', NULL)
INSERT [dbo].[tblLop] ([MaLop], [TenLop], [GVCN]) VALUES (N'02', N'10A2', NULL)
INSERT [dbo].[tblLop] ([MaLop], [TenLop], [GVCN]) VALUES (N'03', N'10A3', NULL)
INSERT [dbo].[tblMonhoc] ([MaMon], [TenMon]) VALUES (N'MH01', N'Toán học')
INSERT [dbo].[tblMonhoc] ([MaMon], [TenMon]) VALUES (N'MH02', N'Ngữ văn')
INSERT [dbo].[tblMonhoc] ([MaMon], [TenMon]) VALUES (N'MH03', N'Anh văn')
INSERT [dbo].[tblPhanquyen] ([Quyen], [TenQuyen]) VALUES (0, N'Học Sinh')
INSERT [dbo].[tblPhanquyen] ([Quyen], [TenQuyen]) VALUES (1, N'Trợ Giảng')
INSERT [dbo].[tblPhanquyen] ([Quyen], [TenQuyen]) VALUES (2, N'Giáo Viên')
INSERT [dbo].[tblUser] ([Username], [Password], [MaGV], [Quyen]) VALUES (N'abc', N'123', N'', 1)
INSERT [dbo].[tblUser] ([Username], [Password], [MaGV], [Quyen]) VALUES (N'admin', N'admin', N'GV01', 5)
INSERT [dbo].[tblUser] ([Username], [Password], [MaGV], [Quyen]) VALUES (N'pvcit', N'234', N'GV01', 4)
ALTER TABLE [dbo].[tblGiangday] ADD  CONSTRAINT [DF_tblGiangday_Thu]  DEFAULT ((2)) FOR [Thu]
GO
ALTER TABLE [dbo].[tblGiangday]  WITH CHECK ADD  CONSTRAINT [FK_tblGiangday_tblGiaovien] FOREIGN KEY([MaGV])
REFERENCES [dbo].[tblGiaovien] ([MaGV])
GO
ALTER TABLE [dbo].[tblGiangday] CHECK CONSTRAINT [FK_tblGiangday_tblGiaovien]
GO
ALTER TABLE [dbo].[tblGiangday]  WITH CHECK ADD  CONSTRAINT [FK_tblGiangday_tblLop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[tblLop] ([MaLop])
GO
ALTER TABLE [dbo].[tblGiangday] CHECK CONSTRAINT [FK_tblGiangday_tblLop]
GO
ALTER TABLE [dbo].[tblGiaovien]  WITH CHECK ADD  CONSTRAINT [FK_tblGiaoVien_tblMonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[tblMonhoc] ([MaMon])
GO
ALTER TABLE [dbo].[tblGiaovien] CHECK CONSTRAINT [FK_tblGiaoVien_tblMonHoc]
GO
ALTER TABLE [dbo].[tblHocSinh]  WITH CHECK ADD  CONSTRAINT [FK_tblHocSinh_tblLop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[tblLop] ([MaLop])
GO
ALTER TABLE [dbo].[tblHocSinh] CHECK CONSTRAINT [FK_tblHocSinh_tblLop]
GO
ALTER TABLE [dbo].[tblLop]  WITH CHECK ADD  CONSTRAINT [FK_tblLop_tblGiaoVien] FOREIGN KEY([GVCN])
REFERENCES [dbo].[tblGiaovien] ([MaGV])
GO
ALTER TABLE [dbo].[tblLop] CHECK CONSTRAINT [FK_tblLop_tblGiaoVien]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblPhanQuyen] FOREIGN KEY([Quyen])
REFERENCES [dbo].[tblPhanquyen] ([Quyen])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblPhanQuyen]
GO
USE [master]
GO
